---
http_interactions:
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/willrax
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"8839d020839c17f2b5b34e33636eaec8:e6815ed2ad7b178c9fc67a0dc5ab16a7"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"username":"willrax","name":"willrax","avatar_url":"https://secure.gravatar.com/avatar/ce0041fa65236f089e20333b6488d981.png?r=PG","wallpapers_count":221,"uploaded_count":0,"followers_count":2,"following_count":0,"created_at":"2012-06-20T11:57:41Z","lifetime_member":false}}'
  recorded_at: Tue, 04 Sep 2012 21:04:58 GMT
recorded_with: VCR 2.2.4
