---
http_interactions:
- request:
    method: get
    uri: https://api.desktoppr.co/1/wallpapers?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bfdba0574ec52956c42c8915551429ac"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":1046,"bytes":1360008,"created_at":"2012-05-22T20:56:34Z","image":{"url":"http://a.desktopprassets.com/wallpapers/30e1edcbe3da8b2b1c4288fe1d5ed747420cd094/screenfeeder.png","thumb":{"url":"http://a.desktopprassets.com/wallpapers/30e1edcbe3da8b2b1c4288fe1d5ed747420cd094/thumb_screenfeeder.png","width":296,"height":185},"preview":{"url":"http://a.desktopprassets.com/wallpapers/30e1edcbe3da8b2b1c4288fe1d5ed747420cd094/preview_screenfeeder.png","width":960,"height":540}},"height":1080,"width":1920,"review_state":"safe","user_id":146,"user_count":13,"views_count":96,"palette":["040404","222222","2A2B34","2B3434","373635"],"url":"http://www.desktoppr.co/wallpapers/1046"},{"id":30705,"bytes":4079397,"created_at":"2012-06-18T22:00:06Z","image":{"url":"http://a.desktopprassets.com/wallpapers/8a4f23ad71649dfead3a538ce90a8a148436a103/polarlicht_2.jpg","thumb":{"url":"http://a.desktopprassets.com/wallpapers/8a4f23ad71649dfead3a538ce90a8a148436a103/thumb_polarlicht_2.jpg","width":296,"height":185},"preview":{"url":"http://a.desktopprassets.com/wallpapers/8a4f23ad71649dfead3a[...]
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/2/wallpapers?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1220ae609c4d987b5eb5c8de7b429b43"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":165697,"bytes":2218927,"created_at":"2012-09-03T21:31[...]
- request:
    method: get
    uri: https://api.desktoppr.co/1/wallpapers/random
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"53d84eaad7cd7aef01282495d66ee3fe"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"id":124996,"bytes":1215034,"created_at":"2012-07-10T15:01:50Z","image":{"url":"http://a.desktopprassets.com/wallpapers/3bd374260ca1887a39faf9c1c8564c0f0c399f6d/sarahmichelle1080.jpg","thumb":{"url":"http://a.desktopprassets.com/wallpapers/3bd374260ca1887a39faf9c1c8564c0f0c399f6d/thumb_sarahmichelle1080.jpg","width":296,"height":185},"preview":{"url":"http://a.desktopprassets.com/wallpapers/3bd374260ca1887a39faf9c1c8564c0f0c399f6d/preview_sarahmichelle1080.jpg","width":960,"height":540}},"height":1080,"width":1920,"review_state":"safe","user_id":9153,"user_count":1,"views_count":8,"palette":[],"url":"http://www.desktoppr.co/wallpapers/124996"}}'
  recorded_at: Tue, 04 Sep 2012 22:27:41 GMT
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/willrax/wallpapers/random
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"74f8532c9a2c0d531f88b3d52dae1b80"'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"id":227,"bytes":150843,"created_at":"2012-04-11T10:27:31Z","image":{"url":"http://a.desktopprassets.com/wallpapers/f866f4363a8e0cc24b8e8ccc00818c2470a32bfd/_1440x900_wallpaper-1.jpeg","thumb":{"url":"http://a.desktopprassets.com/wallpapers/f866f4363a8e0cc24b8e8ccc00818c2470a32bfd/thumb__1440x900_wallpaper-1.jpeg","width":296,"height":185},"preview":{"url":"http://a.desktopprassets.com/wallpapers/f866f4363a8e0cc24b8e8ccc00818c2470a32bfd/preview__1440x900_wallpaper-1.jpeg","width":960,"height":600}},"height":900,"width":1440,"review_state":"safe","user_id":1,"user_count":117,"views_count":465,"palette":[],"url":"http://www.desktoppr.co/wallpapers/227"}}'
  recorded_at: Tue, 04 Sep 2012 22:27:43 GMT
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/willrax/wallpapers?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"af48c9e2b1ab31f2040edd2bb638e208"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":149218,"bytes":514537,"created_at":"2012-08-01T[...]
- request:
    method: get
    uri: https://api.desktoppr.co/1/wallpapers
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bfdba0574ec52956c42c8915551429ac"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":1046,"bytes":1360008,"created_at":"2012-05-22T20:56:34Z","image":{"u[...]
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/2/wallpapers
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"df439b7f9338c13f3fea1ba874ca7bb3"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":165697,"bytes":2218927,"created_at":"2012-09-03T21:31:27Z","[...]
- request:
    method: get
    uri: https://api.desktoppr.co/1/users/willrax/wallpapers
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"af48c9e2b1ab31f2040edd2bb638e208"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"id":149218,"bytes":514537,"created_at":"2012-08-01T21:33:3[...]
